/*GERAL*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: #000000;
}

a {
  text-decoration: none;
  font-family: "inter", "arial";
}

li {
  list-style: none;
  font-family: "inter", "arial";
}

p {
  font-family: "inter", "arial";
}

/*GERAL*/

/*MENU*/
.menu {
  padding: 24px 16px;
  position: fixed;
  width: 100%;
  background: #0000006e;
  border-bottom: 2px solid #373737;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.content {
  display: flex;
  padding-right: 26px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.ul-menu {
  display: flex;
}

.ul-menu li {
  padding-left: 32px;
}

.ul-menu li .nav-a {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.login-btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.login-btn:hover {
  background: #eee5ff;
  color: #8c01fa;
  border: 2px solid #8c01fa;
}

.registro-btn {
  color: #fff;
  background: #8c01fa;
  border: 2px solid #8c01fa;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.registro-btn:hover {
  color: #ffffff;
  border: 2px solid #eee5ff;
  background: #8c01fa;
}

/*MENU*/

/*HERO*/
.hero {
  margin: 0 auto;
  display: flex;
  max-width: 1920px;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #14141a;
}
.hero1 {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.4fr 1.5fr;
  align-items: center;
}

.texto-hero {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 320px;
  margin: 0 auto;
  font-family: Arial;
  font-size: 44px;
  font-weight: 600;
  color: #ffffff;
}

.foto-hero {
  margin: 0 auto;
  padding-right: 150px;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 100%;
}

.sub-titulo-hero {
  margin: 0 auto;
  color: #fff;
  padding-left: 320px;
  font-family: Arial;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.3px;
  padding-bottom: 15px;
}

.hero-btn {
  padding-top: 30px;
  padding-left: 320px;
}

.sobre-btn {
  margin: 15px;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.sobre-btn:hover {
  background: #eee5ff;
  color: #8c01fa;
  border: 2px solid #8c01fa;
}

.saiba-btn {
  color: #fff;
  background: #8c01fa;
  border: 2px solid #8c01fa;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.saiba-btn:hover {
  color: #ffffff;
  border: 2px solid #eee5ff;
  background: #8c01fa;
}

/*HERO*/

/*PARTE 2*/
.part2 {
  max-width: 1920px;
  gap: 120px;
  padding: 16px 16px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  margin: 0 auto;
}

.foto2 {
  margin: 0 auto;
  padding-left: 280px;
  padding-top: 80px;
  max-width: 100%;
  align-items: center;
}

.titulo2 {
  color: #fff;
  font-family: Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 46.2px;
  letter-spacing: 1px;
  padding-top: 50px;
}

.part2-btn {
  padding-top: 40px;
}

.saiba2-btn {
  color: #fff;
  background: #8c01fa;
  border: 2px solid #8c01fa;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.saiba2-btn:hover {
  color: #ffffff;
  border: 2px solid #eee5ff;
  background: #8c01fa;
}

/*PARTE 2*/

/*PARTE 3*/
.part3 {
  margin: 0 auto;
  background-color: black;
}

.part3-wrapper {
  background-color: #14141a;
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 14px;
  display: grid;
  max-width: 1280px;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 431px;
  padding-top: 20px;
  justify-items: center;
}

.part3-content {
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 75.6px;
  letter-spacing: 0.68px;
  padding-bottom: 10px;
}

.part3-title {
  color: #fff;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.8px;
}

.part3-p {
  color: #c4c4c4;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.3px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.part3-btn {
  color: #fff;
  background: #8c01fa;
  border: 2px solid #8c01fa;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
  width: 217px;
  text-align: center;
}

.part3-btn:hover {
  color: #ffffff;
  border: 2px solid #eee5ff;
  background: #8c01fa;
}

.register3-btn {
  color: #fff;
}

.img-part3 {
  width: 359px;
  height: 335px;
}

/*PARTE 3*/

/*FOOTER*/

.footer-wrapper {
  margin: 0 auto;
}

.footer {
  margin: 0 auto;
  padding-top: 70px;
}
.footer-content {
  padding: 60px 0 0 0;
  background-color: #14141a;
  border-radius: 10px;
}
.list-title {
  font-size: 18px;
}

.footer-list {
  display: flex;
  gap: 52px;
  text-align: center;
}
.list-menu li {
  padding-bottom: 8px;
  padding-right: 10px;
}

.list-menu li:nth-child(n + 2) {
  font-size: 16px;
  font-weight: 200px;
  color: #fff;
}
.list-title {
  font-weight: 600;
  color: #fff;
}

.footer-container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.footer-p {
  padding-top: 30px;
  font-size: 18px;
  color: #fff;
  max-width: 40ch;
}
.footer-copy {
  background-color: #0d0d11e0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-left: 310px;
}

.link-copy {
  color: #ffffffc4;
  font-size: 16px;
  font-weight: 400;
}
.link-copy2 {
  color: #ffffffc4;
  font-size: 16px;
  font-weight: 400;
  padding-left: 45px;
  padding-right: 280px;
}
.copy-p {
  color: #ffffffc4;
  font-size: 16px;
  font-weight: 400;
}
/*FOOTER*/
