/*GERAL*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "inter", "arial";
}

li {
  list-style: none;
  font-family: "inter", "arial";
}

p {
  font-family: "inter", "arial";
}

body {
  height: 1381px;
  background-color: #000000;
}

/*GERAL*/

/*MENU*/
.menu {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  width: 100%;
  background: #000000;
  border-bottom: 5px solid #14141a;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.content {
  display: flex;
  padding-right: 26px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.ul-menu {
  display: flex;
}

.ul-menu li {
  padding-left: 30px;
}

.ul-menu li .nav-a {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

.login-btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.login-btn:hover {
  background: #eee5ff;
  color: #8c01fa;
  border: 2px solid #8c01fa;
}

.registro-btn {
  color: #fff;
  background: #8c01fa;
  border: 2px solid #8c01fa;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.registro-btn:hover {
  color: #ffffff;
  border: 2px solid #eee5ff;
  background: #8c01fa;
}

/*MENU*/

/*HERO*/
.hero1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #14141a;
}

.texto-hero {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 320px;
  margin: 0 auto;
  font-family: Arial;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
}

.foto-hero {
  margin: 0 auto;
  padding-right: 700px;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 186px;
  align-items: center;
}

.sub-titulo-hero {
  margin: 0 auto;
  color: #fff;
  padding-left: 320px;
  font-family: Arial;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.3px;
}

.hero-btn {
  padding-top: 30px;
  padding-left: 320px;
}

.sobre-btn {
  margin: 15px;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.sobre-btn:hover {
  background: #eee5ff;
  color: #8c01fa;
  border: 2px solid #8c01fa;
}

.saiba-btn {
  color: #fff;
  background: #8c01fa;
  border: 2px solid #8c01fa;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.saiba-btn:hover {
  color: #ffffff;
  border: 2px solid #eee5ff;
  background: #8c01fa;
}

/*HERO*/

/*PARTE 2*/
.part2 {
  border-bottom: 5px solid #14141a;
  padding-top: 75px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  padding-right: 55px;
}

.foto2 {
  margin: 0 auto;
  padding-right: 300px;
  padding-top: 80px;
  max-width: 186px;
  align-items: center;
}

.titulo2 {
  padding-right: 300px;
  color: #fff;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46.2px;
  letter-spacing: 1px;
}

.part2-btn {
  padding-top: 30px;
  padding-right: 320px;
}

.saiba2-btn {
  color: #fff;
  background: #8c01fa;
  border: 2px solid #8c01fa;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
}

.saiba2-btn:hover {
  color: #ffffff;
  border: 2px solid #eee5ff;
  background: #8c01fa;
}

/*PARTE 2*/

/*PARTE 3*/
.part3 {
  margin: 0 auto;
  background-color: black;
}

.part3-wrapper {
  background-color: #14141a;
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 14px;
  display: grid;
  max-width: 1280px;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 431px;
  padding-top: 20px;
  justify-items: center;
}

.part3-content {
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 75.6px;
  letter-spacing: 0.68px;
  padding-bottom: 10px;
}

.part3-title {
  color: #fff;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.8px;
}

.part3-p {
  color: #c4c4c4;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.3px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.part3-btn {
  color: #fff;
  background: #8c01fa;
  border: 2px solid #8c01fa;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
  width: 217px;
  text-align: center;
}

.part3-btn:hover {
  color: #ffffff;
  border: 2px solid #eee5ff;
  background: #8c01fa;
}

.register3-btn {
  color: #fff;
}

.img-part3 {
  width: 359px;
  height: 335px;
}

/*PARTE 3*/

/*FOOTER*/

.footer {
  background-color: #14141a;
  width: 100%;
  color: #fff;
}

.footer-wrapper {
  margin: 0 auto;
  margin-top: 75px;
  margin-left: 140px;
  border-radius: 14px;
  display: grid;
  max-width: 1280px;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 431px;
  padding: 150px;
  justify-items: center;
}
.footer-p {
  padding-top: 30px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 27.3px;
}
#footer-content{
    margin: 0 auto;
    max-width: 1280px;
    background-color: var(--color-neutral-10);
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    flex-direction: row;
    justify-content: space-between;
}
#footer-contacts h1{
    margin-bottom: 0.75rem;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: #7f37c9;
}
#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 180%;
}

#input_group button{
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer-copyright{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    flex-direction: row;
}
.footerdiv{
  margin: 150px;
    display: flex;
    gap: 16px;
    text-align: center;
}

/*FOOTER*/
